.delete-btn {
    background-color: rgb(185, 58, 58);
    border: solid 1px black;
    color: white;
}

.edit-btn {
    background-color: rgb(89, 185, 76);
    border: solid 1px black;
    color: white;
    margin-right: 5px;
}

.edituser-btn {
    background-color: rgb(89, 185, 76);
    border: solid 1px black;
    color: white;
    max-width: fit-content;
    align-self: center;
}

.edit-btn:hover, .delete-btn:hover {
    border: solid 1px rgb(102, 167, 163) !important;
}