.searchBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0px;
    justify-content: space-around;
}

#gameSearchText {
    font-size: 24px;
    padding: 5px;
    width: 80%;
}

.game-container {
    width: 600px;
    padding: 20px;
    height: auto;
    border-radius: 20px;
    background-image: linear-gradient(to bottom left,darkblue, rgb(214, 95, 95));
    margin: 30px 0;
    align-content: center;
}

#btnContainer {
    display: flex;
    font-size: 20px;
    width: 50%;
    flex-direction: column;
    justify-self: center; 
    gap: 20px;
}

.reviewForm {
    margin: 20px 0;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to top right, rgb(35, 43, 49), rgb(34, 19, 19));
}